<div class="abilities-page">
  <div class="container">
    <h1>Services</h1>
    <p>Here are some of the services I offer:</p>
    <ul>
      <li>Web Development</li>
      <li>Web Design</li>
      <li>SEO</li>
      <li>Content Writing</li>
      <li>Graphic Design</li>
    </ul>
    <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>

  </div>
</div>