<!-- ==========================
        HEADER SECTION 
        =========================== -->
<header id="home">
    <!-- creative menu -->
    <div class="container-fluid">
        <div class="row">
            <div class="menu-wrap">
                <nav class="menu">
                    <!-- Menu Links -->
                    <div class="icon-list">
                        <a href="index.html#home"><i class="fa fa-fw fa-home"></i><span>Home</span></a>
                        <a href="index.html#about"><i class="fa fa-fw fa-quote-left"></i><span>About</span></a>
                        <a href="index.html#service"><i class="fa fa-fw fa-globe"></i><span>Service</span></a>
                        <a href="index.html#portfolio"><i class="fa fa-fw fa-picture-o"></i><span>Portfolio</span></a>
                        <a href="index.html#blog"><i class="fa fa-fw fa-rss"></i><span>Blog</span></a>
                        <a href="index.html#contact"><i class="fa fa-fw fa-envelope-o"></i><span>Contact</span></a>
                    </div>
                </nav>
            </div>
            <button class="menu-button" id="open-button"></button><!-- menu button -->
        </div><!--/row-->
    </div><!--/container-->
    <!-- Header Image -->
    <section class="hero" id="hero">
        <div class="container">
            <!-- Slider Button (don't edit!)-->
            <div class="row">
                <div class="col-md-12 text-right navicon">
                    <a id="nav-toggle" class="nav_slide_button" href="index.html#"><span></span></a>
                </div>
            </div>
            <!-- HEADER HEADLINE -->
            <div class="row">
                <div class="col-md-8 col-md-offset-1 inner">
                    <h1 class="animated fadeInDown">
                        R<span style="color:#E04343;">o</span>wan<br />
                        <span>S<span style="color:#FFE800">t</span>ratton</span>
                    </h1><!-- Title -->
                    <h3 class="animated fadeInUp delay-05s"><span class="rotate">Web Designer,Photographer,3d
                            Artist</span></h3><!-- Text Rotator -->
                </div>
            </div>
            <!-- Learn More Button -->
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <a href="index.html#about" class="scrollto wow fadeInUp delay-5s ">
                        <p>SEE MORE</p>
                        <p class="scrollto--arrow"><img src="img/scroll-down.png" alt="scroll down arrow"></p>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Header Image End -->
</header>
<!-- ==========================
        HEADER SECTION END  
        =========================== -->