<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Website Title -->
    <title>{{name}}  - {{title}}</title>
    <!-- Bootstrap -->
    <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font-Awesome -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Lightbox -->
    <link href="lightbox/dist/bundle-main.css" rel="stylesheet">
    <!-- FlexSlider -->
    <link href="/css/flexslider.css" rel="stylesheet">
    <!-- Style -->
    <link rel="stylesheet" href="/css/style.css">
    <!--Animate.css-->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="/css/tailwind.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10:wght@400;500;700&display=swap" rel="stylesheet">

</head>

<div class="container mx-auto">    
    <body id="top">
    <!-- ****************************** Preloader ************************** -->
    <div id="preloader"></div>
            <!-- ==========================
                    HEADER SECTION 
                    =========================== -->
                {{> header}}

    {{{body}}}
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- FlexSlider JavaScript -->
    <script src="/js/jquery.flexslider.js"></script>
    <script src="/js/jquery.flexslider-min.js"></script>
    <!-- Include Waypoints library first -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <!-- classie.js -->
    <script src="/js/classie.js"></script>
    <!-- Text Rotator -->
    <script src="/js/text-rotator.js"></script>
    <script>
    $(document).ready(function() {
        $("#text-rotater").textrotator({
            animation: "fade",
            separator: ",",
            speed: 2000
        });
    });
    </script>
    <!-- Then include your custom script -->
    <script type="module" src="/js/script.js"></script>
    <script src="/js/main.js"></script>

    </body>
</div>
</html>