<main> 

  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="assets/imgs/logo (2).png" alt="" width="72" height="72">
    <h1 class="display-5 fw-bold text-body-emphasis">Thanks for stopping by to get to know me</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Take a look around and get to learn more about me and what I can do. This is a space where I talk about me, and my abilities. My blog showcases my 
        thoughts and opinions.
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3" routerLink="/about">Get to know me</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4" routerLink="/services">Review my code level</button>
      </div>
    </div>
  </div>