<!-- ==========================
        PORTFOLIO SECTION
    =========================== -->
<section class="swag text-center" id="portfolio">
  <div class="container">
    <!-- Headline -->
    <div class="row">
      <h1 class="arrow">
        Recent
        <span>Porojects</span>
      </h1>
    </div>
  </div>
</section>

<div class="container">
  <div class="row row-offset-0">

    <!-- PORTFOLIO ITEM 1 -->
    <div class="col-md-3 col-sm-6">
      <div class="overlay-effect effects clearfix">
        <div class="img">
          <a
            href="img/portfolio/portfolio-01-large.jpg"
            data-lightbox="roadtrip"
            title="Project One - Lorem Ipsum"
          ><img
              class="grayscale"
              src="img/portfolio/portfolio-01-thumbnail.jpg"
              alt="Portfolio Item"
            /></a>
        </div>
      </div>
    </div>
    <!-- PORTFOLIO ITEM END -->

    <!-- PORTFOLIO ITEM 2 -->
    <div class="col-md-3 col-sm-6">
      <div class="overlay-effect effects clearfix">
        <div class="img">
          <a
            href="img/portfolio/portfolio-02-large.jpg"
            data-lightbox="roadtrip"
            title="Project Two - Lorem Ipsum"
          ><img
              class="grayscale"
              src="img/portfolio/portfolio-02-thumbnail.jpg"
              alt="Portfolio Item"
            /></a>
        </div>
      </div>
    </div>
    <!-- PORTFOLIO ITEM END -->

    <!-- PORTFOLIO ITEM 3 -->
    <div class="col-md-3 col-sm-6">
      <div class="overlay-effect effects clearfix">
        <div class="img">
          <a
            href="img/portfolio/portfolio-03-large.jpg"
            data-lightbox="roadtrip"
            title="Project Three - Lorem Ipsum"
          ><img
              class="grayscale"
              src="img/portfolio/portfolio-03-thumbnail.jpg"
              alt="Portfolio Item"
            /></a>
        </div>
      </div>
    </div>
    <!-- PORTFOLIO ITEM END -->

    <!-- PORTFOLIO ITEM 4 -->
    <div class="col-md-3 col-sm-6">
      <div class="overlay-effect effects clearfix">
        <div class="img">
          <a
            href="img/portfolio/portfolio-04-large.jpg"
            data-lightbox="roadtrip"
            title="Project Four - Lorem Ipsum"
          ><img
              class="grayscale"
              src="img/portfolio/portfolio-04-thumbnail.jpg"
              alt="Portfolio Item"
            /></a>
        </div>
      </div>
    </div>
    <!-- PORTFOLIO ITEM END -->

    <!-- PORTFOLIO ITEM 5 -->
    <div class="col-md-3 col-sm-6">
      <div class="overlay-effect effects clearfix">
        <div class="img">
          <a
            href="img/portfolio/portfolio-05-large.jpg"
            data-lightbox="roadtrip"
            title="Project Five - Lorem Ipsum"
          ><img
              class="grayscale"
              src="img/portfolio/portfolio-05-thumbnail.jpg"
              alt="Portfolio Item"
            /></a>
        </div>
      </div>
    </div>
    <!-- PORTFOLIO ITEM END -->

    <!-- PORTFOLIO ITEM 6 -->
    <div class="col-md-3 col-sm-6">
      <div class="overlay-effect effects clearfix">
        <div class="img">
          <a
            href="img/portfolio/portfolio-06-large.jpg"
            data-lightbox="roadtrip"
            title="Project Six - Lorem Ipsum"
          ><img
              class="grayscale"
              src="img/portfolio/portfolio-06-thumbnail.jpg"
              alt="Portfolio Item"
            /></a>
        </div>
      </div>
    </div>
    <!-- PORTFOLIO ITEM END -->

    <!-- PORTFOLIO ITEM 7 -->
    <div class="col-md-3 col-sm-6">
      <div class="overlay-effect effects clearfix">
        <div class="img">
          <a
            href="img/portfolio/portfolio-07-large.jpg"
            data-lightbox="roadtrip"
            title="Project Seven - Lorem Ipsum"
          ><img
              class="grayscale"
              src="img/portfolio/portfolio-07-thumbnail.jpg"
              alt="Portfolio Item"
            /></a>
        </div>
      </div>
    </div>
    <!-- PORTFOLIO ITEM END -->

    <!-- PORTFOLIO ITEM 8 -->
    <div class="col-md-3 col-sm-6">
      <div class="overlay-effect effects clearfix">
        <div class="img">
          <a
            href="img/portfolio/portfolio-08-large.jpg"
            data-lightbox="roadtrip"
            title="Project Eight - Lorem Ipsum"
          ><img
              class="grayscale"
              src="img/portfolio/portfolio-08-thumbnail.jpg"
              alt="Portfolio Item"
            /></a>
        </div>
      </div>
    </div>
    <!-- PORTFOLIO ITEM END -->
  </div><!--/row-->
</div><!--/.container-->
<!-- ==========================
        PORTFOLIO SECTION END
        =========================== -->