<div class="about">
<div class="container-flex">
  <div class="row">
    <div class="col">
      
      <img src="assets/imgs/rowan-title-img.jpg" class="img-fluid" alt="Rowan" />
      <h1 class="about-header">Learn more about who I am</h1>
      <div class="d-flex position-relative">
        <div class="about-content">
          <h2>Who am I?</h2>
          <p>I am a software developer with a passion for creating and learning. I have a background in computer science and have been working in the field for over 5 years. I have experience with a variety of technologies and have worked on a wide range of projects. I am always looking for new challenges and opportunities to grow as a developer.</p>
        </div>
        <div class="about-content">
          <h2>What do I do?</h2>
          <p>I am a full-stack developer with experience in front-end and back-end technologies. I have worked on a variety of projects, including web applications, mobile apps, and APIs. I am proficient in a number of programming languages, including JavaScript, Python, and Java. I am also familiar with a variety of frameworks and libraries, such as React, Angular, and Node.js.</p>
        </div>
        <div class="about-content">
          <h2>What are my goals?</h2>
          <p>My goal is to continue growing as a developer and to work on challenging and interesting projects. I am always looking for new opportunities to learn and to expand my skill set. I am passionate about technology and enjoy working with others to create innovative solutions. I am excited to see what the future holds and to continue pushing the boundaries of what is possible.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>