<!-- ==========================
        ABOUT SECTION  
        =========================== -->
<section class="intro text-center section-padding color-bg" id="about">
  <div class="container">
    <!-- WELCOME TEXT -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2 wp1">
        <h2>Welcome to My World!</h2>
        <!-- Headline -->
        <h1 class="arrow">A little <span>about</span> me</h1>
        <!-- about / welcome text -->
        <p>Curious about who I am? I do not like being in the spotlight so
          please be kind.
        </p>

        <!-- Accordion Content 1 -->
        <div class="accordion-item">
          <button class="accordion-header">Gender Identity: Understanding and
            Respect
          </button>
          <div class="accordion-content">
            <p>As a non-binary individual living in Northern Minnesota, I
              navigate complex social dynamics both personally and
              professionally. While gender may be an unconventional
              introduction, transparency is key to genuine interactions. For
              insights into non-binary experiences in the professional realm,
              explore this
              <a
                href="https://www.business.com/hiring/nonbinary-discrimination-job-market-report/"
                target="_blank"
              >study on workplace inclusion</a>.</p>
          </div>
        </div>

        <h4>My pronouns are they/them.</h4>
        <!-- Accordion Content 2 -->
        <div class="accordion-item">
          <button class="accordion-header">Why Pronouns Matter</button>
          <div class="accordion-content">
            <p>Specifying pronouns isn’t just a personal choice; it’s about
              creating an inclusive environment. If this concept is new to you,
              I’m here to help guide our interactions smoothly. Understanding
              and respect are the foundations of a productive workplace,
              <a
                href="https://hbr.org/2021/06/research-what-inclusive-companies-have-in-common"
                target="_blank"
              >and this article shows the benefits of how inclusivity can help
                an organization</a>.</p>
          </div>
        </div>

        <h4>I’m also a parent to a wonderful autistic teenager.</h4>

        <!-- Accordion Content 3 -->
        <div class="accordion-item">
          <button class="accordion-header">Balancing Parenting and Professional
            Growth</button>
          <div class="accordion-content">
            <p>Parenting a child with autism has taught me patience,
              adaptability, and advocacy—qualities that translate seamlessly
              into my professional life. I value flexibility in the workplace,
              which reciprocates in my commitment and dedication.</p>
          </div>
        </div>

        <h4>Mental health is a priority in my life.</h4>

        <!-- Accordion Content 4 -->
        <div class="accordion-item">
          <button class="accordion-header">Commitment to Mental Wellness</button>
          <div class="accordion-content">
            <p>Regular therapy is part of my routine, ensuring I am always at my
              best both personally and professionally. If you’re curious about
              the benefits of a mentally healthy workplace, I’m an open book!</p>
          </div>
        </div>
        <h4>Interests: Gaming, Anime, Gardening, and More!</h4>

        <!-- Accordion Content 5 -->
        <div class="accordion-item">
          <button class="accordion-header">My Hobbies and Interests </button>
          <div class="accordion-content">
            <p>From gaming on Steam to exploring the latest anime, my hobbies
              keep me balanced and creative. They’re not just pastimes; they
              enhance my problem-solving skills and foster my adaptability in
              tech environments.</p>
          </div>
        </div>
        <h4>Background in Customer Service</h4>

        <!-- Accordion Content 1 -->
        <div class="accordion-item">
          <button class="accordion-header">Customer Service: A Foundation for
            User-Centered Design</button>
          <div class="accordion-content">
            <p>Years in customer service have equipped me with a profound
              understanding of user needs. This experience is invaluable in
              software development where user interface and customer
              satisfaction are paramount. Check out my professional journey on
              <a
                href="https://www.linkedin.com/in/rowan-stratton-611247247/"
                target="_blank"
              >LinkedIn</a>.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>