<!-- ==========================
        ABOUT SECTION  
        =========================== -->
<section class="features text-center section-padding" id="about">
  <div class="container">
    <!-- WELCOME TEXT -->
    <div class="row">
      <div class="col-md-12">
        <div class="about-text">
          <h2>✨Take a moment and get to know me 🤔</h2>
        </div>
        <!-- Headline -->
        <h1 class="arrow">Before you work with me
          <span>learn</span>
          who I am</h1>
        <!-- about / welcome text -->
        <p>Peeking behind the curtain to see who’s tweaking the gears? That’s
          me! I’m not one for the spotlight, preferring the quietude of my
          thoughts and the hum of a busy keyboard. But for you, I’m here to
          share a bit about myself—let’s connect and create.</p>

        <!-- Accordion Content 1 -->
        <div class="accordion-item">
          <button class="accordion-header">
            <div class="accordion-title">Gender Identity:
              <span>Understanding and Respect</span></div>
          </button>
          <div class="accordion-content">
            <p>As a non-binary individual living in Northern Minnesota, I
              navigate complex social dynamics both personally and
              professionally. While gender may be an unconventional
              introduction, transparency is key to genuine interactions. For
              insights into non-binary experiences in the professional realm,
              explore this
              <a
                href="https://www.business.com/hiring/nonbinary-discrimination-job-market-report/"
                target="_blank"
              >study on workplace inclusion</a>.</p>
          </div>
        </div>

        <!-- Text to seperate the accodions giving the user quick information to glaze through. -->
        <div class="headline-about">
          <p>My pronouns are
            <span>they/them🧑</span></p>
          <div class="page-divider"></div>
        </div>

        <!-- Accordion Content 2 -->
        <div class="accordion-item">
          <button class="accordion-header">
            <div class="accordion-title">Why pronouns
              <span>matter</span></div></button>
          <div class="accordion-content">
            <p>Specifying pronouns isn’t just a personal choice; it’s about
              creating an inclusive environment. If this concept is new to you,
              I’m here to help guide our interactions smoothly. Understanding
              and respect are the foundations of a productive workplace,
              <a
                href="https://hbr.org/2021/06/research-what-inclusive-companies-have-in-common"
                target="_blank"
              >and this article shows the benefits of how inclusivity can help
                an organization</a>.</p>
          </div>
        </div>

        <!-- Text to seperate the accodions giving the user quick information to glaze through. -->
        <div class="headline-about">
          <p>I am a parent to
            <span>a child with autism🧩</span></p>
          <div class="page-divider"></div>
        </div>

        <!-- Accordion Content 3 -->
        <div class="accordion-item">
          <button class="accordion-header">
            <div class="accordion-title">Balancing Parenting and
              <span>Personal Growth</span></div>
          </button>
          <div class="accordion-content">
            <p>Parenting a child with autism has taught me patience,
              adaptability, and advocacy—qualities that translate seamlessly
              into my professional life. I value flexibility in the workplace,
              which reciprocates in my commitment and dedication.</p>
          </div>
        </div>

        <!-- Text to seperate the accodions giving the user quick information to glaze through. -->
        <div class="headline-about">
          <p>🧠Mental Health is a
            <span>priority in my life</span></p>
          <div class="page-divider"></div>
        </div>

        <!-- Accordion Content 4 -->
        <div class="accordion-item">
          <button class="accordion-header">
            <div class="accordion-title">Commitment to
              <span>Mental Wellness</span></div>
          </button>
          <div class="accordion-content">
            <p>Regular therapy is part of my routine, ensuring I am always at my
              best both personally and professionally. If you’re curious about
              the benefits of a mentally healthy workplace, I’m an open book!</p>
          </div>
        </div>

        <!-- Text to seperate the accodions giving the user quick information to glaze through. -->
        <div class="headline-about">
          <p>My interests include
            <span>gaming, anime, gardening and so much more 🔮</span></p>
          <div class="page-divider"></div>
        </div>

        <!-- Accordion Content 5 -->
        <div class="accordion-item">
          <button class="accordion-header">
            <div class="accordion-title">My
              <span>Hobbies</span>
              and
              <span>Interests</span></div>
          </button>
          <div class="accordion-content">
            <p>From gaming on Steam to exploring the latest anime, my hobbies
              keep me balanced and creative. They’re not just pastimes; they
              enhance my problem-solving skills and foster my adaptability in
              tech environments.</p>
          </div>
        </div>
        <!-- Text to seperate the accodions giving the user quick information to glaze through. -->
        <div class="headline-about">
          <p>Background in
            <span>customer support 🌐</span></p>
          <div class="page-divider"></div>
        </div>

        <!-- Accordion Content 1 -->
        <div class="accordion-item">
          <button class="accordion-header">
            <div class="accordion-title">Customer Service:
              <span>A Foundation for User-Centered Design</span></div>
          </button>
          <div class="accordion-content">
            <p>Years in customer service have equipped me with a profound
              understanding of user needs. This experience is invaluable in
              software development where user interface and customer
              satisfaction are paramount. Check out my professional journey on
              <a
                href="https://www.linkedin.com/in/rowan-stratton-611247247/"
                target="_blank"
              >LinkedIn</a>.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>