<!-- ==========================
        ABOUT SECTION  
        =========================== -->
<section class="intro text-center section-padding color-bg" id="about">
  <div class="container">
    <!-- WELCOME TEXT -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2 wp1">
        <h1>Curious about who I am before you work with me? Look no further!</h1>
        <h1 class="arrow">A little <span>about</span> me</h1><!-- Headline -->
        <!-- about / welcome text -->
        <p><strong>Are you looking to get to know me a little? <br /></strong>

          <p>I am a non-binary human living in a small town in Northern
            Minnesota.</p>
          
          <p>My pronouns are they/them.</p>

          <p>I have one child who is currently in their teenage years with autism. 
            I am passionate about seeing the world through his eyes and advocating for his needs.</p>
          </p>

          <p>Taking care of my own mental health needs is a pillar of my identity. Therapy and the activities involved 
            is a large part of my life. I am a firm believer in the power of therapy and the importance of mental health.</p>
          </p>

          <p>I have a plethora of hobbies including gaming, reading, anime, gardening, exploring trails, home improvement projects
            and more. </p>

          <p>Professionally in my younger years I spent a lot of time in the customer service industries. This background gives 
            me a unique perspective on how people interact with software. After spending years talking to people and helping 
            them through various issues, I like to design and build things that makes sense to people. </p>
          </p>


          </p>
          </p>

      </div>
    </div>
  </div>
</section>