<!-- ==========================
        BLOG SECTION 
        =========================== -->
<section class="text-center section-padding" id="blog">
  <div class="container">
    <!-- Headline -->
    <div class="row">
      <div class="col-md-12">
        <h1 class="arrow">My <span>little</span> blog</h1>
      </div>
    </div><br /><br />

    <!-- Blog Slider -->
    <div class="row">
      <div id="blogSlider">
        <ul class="slides">
          <li>
            <!-- Blog Entry 1 -->
            <div class="col-md-4 wp4">
              <div class="overlay-effect effects clearfix">
                <div class="img">
                  <img
                    src="img/blog1.jpg"
                    class="grayscale"
                    alt="Blog Item"
                  /><!-- Blog Image -->
                </div>
              </div>
              <br />
              <h2>Creative Minds</h2><!-- Headline -->
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                ultricies nulla non metus pulvinar imperdiet. Praesent non
                adipiscing libero.</p><!-- Description-->
            </div>
            <!-- Blog Entry 2 -->
            <div class="col-md-4 wp4 delay-05s">
              <div class="overlay-effect effects clearfix">
                <div class="img">
                  <img
                    src="img/blog2.jpg"
                    class="grayscale"
                    alt="Blog Item"
                  /><!-- Blog Image -->
                </div>
              </div>
              <br />
              <h2>Creative Hearts</h2><!-- Headline -->
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                ultricies nulla non metus pulvinar imperdiet. Praesent non
                adipiscing libero.</p><!-- Description -->
            </div>
            <!-- Blog Entry 3 -->
            <div class="col-md-4 wp4 delay-1s">
              <div class="overlay-effect effects clearfix">
                <div class="img">
                  <img
                    src="img/blog3.jpg"
                    class="grayscale"
                    alt="Blog Item"
                  /><!-- Blog Image -->
                </div>
              </div>
              <br />
              <h2>Creative Ideas</h2><!-- Headline -->
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                ultricies nulla non metus pulvinar imperdiet. Praesent non
                adipiscing libero.</p><!-- Description-->
            </div>
          </li>
          <li>
            <!-- Blog Entry 4 -->
            <div class="col-md-4 wp4">
              <div class="overlay-effect effects clearfix">
                <div class="img">
                  <img
                    src="img/blog1.jpg"
                    class="grayscale"
                    alt="Blog Item"
                  /><!-- Blog Image -->
                </div>
              </div>
              <br />
              <h2>Creative Minds</h2><!-- Headline -->
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                ultricies nulla non metus pulvinar imperdiet. Praesent non
                adipiscing libero.</p><!-- Description -->
            </div>
            <!-- Blog Entry 5 -->
            <div class="col-md-4 wp4 delay-05s">
              <div class="overlay-effect effects clearfix">
                <div class="img">
                  <img
                    src="img/blog2.jpg"
                    class="grayscale"
                    alt="Blog Item"
                  /><!-- Blog Image -->
                </div>
              </div>
              <br />
              <h2>Creative Hearts</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                ultricies nulla non metus pulvinar imperdiet. Praesent non
                adipiscing libero.</p>
            </div>
            <!-- Blog Entry 6 -->
            <div class="col-md-4 wp4 delay-1s">
              <div class="overlay-effect effects clearfix">
                <div class="img">
                  <img
                    src="img/blog3.jpg"
                    class="grayscale"
                    alt="Blog Item"
                  /><!-- Blog Image -->
                </div>
              </div>
              <br />
              <h2>Creative Ideas</h2><!-- Headline -->
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                ultricies nulla non metus pulvinar imperdiet. Praesent non
                adipiscing libero.</p><!-- Description -->
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- ==========================
        BLOG SECTION END
        =========================== -->