<!-- Header Image -->
<section class="hero" id="hero">
    <div class="container">
        
        <!-- Slider Button (don't edit!)-->
        <div class="row">
            <div class="col-md-12 text-right navicon">
                <a id="nav-toggle" class="nav_slide_button" href="index.html#"><span></span></a>
            </div>
        </div>
        <div class="hero-background"></div>
        <!-- HEADER HEADLINE -->
        <div class="row">
            <div class="col-md-8 col-md-offset-1 inner">
                <h1 class="animated fadeInDown">
                    Ro<span style="color:#E04343;">w</span>an<br />
                    <span>Stra<span style="color:#FFE800">t</span>ton</span>
                </h1><!-- Title -->

                <!-- Text Rotator -->
                <h3 class="animated fadeInUp delay-05s">I am a </h3> <br /> <span id="text-rotater"
                    data-rotate="Web developer, Software Engineer, Creative, Innovative, Human"></span></p>
                </h3>
            </div>
        </div>
        <!-- Learn More Button -->
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <a href="index.html/about" class="scrollto wow fadeInUp delay-5s ">
                    <p>SEE MORE</p>
                    <p class="scrollto--arrow"><img src="images/scroll-down.png" alt="scroll down arrow"></p>
                </a>
            </div>
        </div>
        </div>
        </section>
        <!-- Header Image End -->