<!-- Header Image -->
<section class="hero" id="hero">
    <div class="hero-image"></div>
    <div class="container">
        
        <!-- Slider Button (don't edit!)-->
        <div class="row">
            <div class="col-md-12 text-right navicon">
                <a id="nav-toggle" class="nav_slide_button" href="index.html#"><span></span></a>
            </div>
        </div>
        
<!-- HEADER HEADLINE AND BUTTON -->
<div class="row">
    <div class="col-md-12 hero-flex-container">
        <div class="hero-text">
            <h1 class="animated fadeInDown">
                Ro<span style="color:#E04343;">w</span>an<br />
                <span>Stra<span style="color:#FFE800">t</span>ton</span>
            </h1>
            <h3 class="animated fadeInUp delay-05s">I am a</h3>
            <br />
            <span id="text-rotater" data-rotate="Web developer, Software Engineer, Creative, Innovative, Human"></span>
        
        <div class="learn-more-container">
            <a href="/about" class="scrollto wow fadeInUp delay-5s page-scroll">
                SEE MORE
                <img src="/images/right-arrow.png" alt="scroll right arrow" class="scrollto--arrow">
            </a>
        </div>
       
    </div>
</div>
</section>
<!-- Header Image End -->