<!-- ==========================
        SERVICE SECTION 
        =========================== -->
<section class="features text-center section-padding" id="service">
  <div class="container">
    <!-- Headline -->
      <div class="row">
        <div class="col-md-12">
          <h1 class="arrow">What I do as a Software Developer</h1>
        </div>
      </div>
    <!-- Service Box -->
      <div class="row">
              <div class="col-md-12">
          <div class="services">
      <!-- Service Box -->
      <div class="col-md-12 wp2 item">
        <div class="service-box">
          <div class="service-info">

            <!-- Icon -->
            <div class="icon">
              <i class="fa fa-desktop"></i>
            </div>
            <!-- Title -->
            <h2>Web Developer</h2>
            <!-- Description -->
            <p>These are my current web development projects. Each focuses on a
              different framework to give me a little experience in various
              areas. I do limited projects as I am still learning and growing in
              this field, but if you have a project you think I would be a good
              fit for, please reach out to me.</p>
          </div>

          <!-- Pagination Section -->
          <div class="service-pagination">
            <!-- Pagination Images -->
            <div class="pagination-content">
              <div class="slide" data-index="0">
                <img
                  src="/images/portfolio/PlayPage.JPG"
                  alt="Project Image 1"
                  style="width: 75%; height: auto;"
                />
                <p class="description">A webapp that is developed with ASP.NET
                  and React on the frontend. This is a fun little game to
                  showcase my favorite trails around my hometown.</p>
              </div>
              <div class="slide" data-index="1">
                <img
                  src="/images/portfolio/portfolioSite-Index1.JPG"
                  alt="Project Image 2"
                  style="width: 75%; height: auto;"
                />
                <p class="description">One of the first versions of this
                  portfolio website. NodeJs with Express and deployed in AWS.</p>
              </div>
              <div class="slide" data-index="2">
                <img
                  src="/images/portfolio/animeRatings_inprogress.JPG"
                  alt="Project Image 3"
                  style="width: 75%; height: auto;"
                />
                <p class="description">My anime rating project, developed with
                  ASP.NET and Blazor. I created this to use the knowledge I had
                  aquired from my earlier classes.</p>
              </div>
              <!-- Add more as needed -->
            </div>

            <!-- Pagination Controls -->
            <div class="pagination-controls">
              <button onclick="changeSlide(-1, 3)">Prev</button>
              <button onclick="changeSlide(1, 3)">Next</button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Service Box -->
      <div class="row">
              <div class="col-md-12">
          <div class="services">
      <!-- Service Box -->
      <div class="col-md-12 wp2 item">
        <div class="service-box">
          <div class="service-info">

            <!-- Icon -->
            <div class="icon">
              <i class="fa fa-desktop"></i>
            </div>
            <!-- Title -->
            <h2>Web Developer</h2>
            <!-- Description -->
            <p>These are my current web development projects. Each focuses on a
              different framework to give me a little experience in various
              areas. I do limited projects as I am still learning and growing in
              this field, but if you have a project you think I would be a good
              fit for, please reach out to me.</p>
          </div>

          <!-- Pagination Section -->
          <div class="service-pagination">
            <!-- Pagination Images -->
            <div class="pagination-content">
              <div class="slide" data-index="0">
                <img
                  src="/images/portfolio/PlayPage.JPG"
                  alt="Project Image 1"
                  style="width: 75%; height: auto;"
                />
                <p class="description">A webapp that is developed with ASP.NET
                  and React on the frontend. This is a fun little game to
                  showcase my favorite trails around my hometown.</p>
              </div>
              <div class="slide" data-index="1">
                <img
                  src="/images/portfolio/portfolioSite-Index1.JPG"
                  alt="Project Image 2"
                  style="width: 75%; height: auto;"
                />
                <p class="description">One of the first versions of this
                  portfolio website. NodeJs with Express and deployed in AWS.</p>
              </div>
              <div class="slide" data-index="2">
                <img
                  src="/images/portfolio/animeRatings_inprogress.JPG"
                  alt="Project Image 3"
                  style="width: 75%; height: auto;"
                />
                <p class="description">My anime rating project, developed with
                  ASP.NET and Blazor. I created this to use the knowledge I had
                  aquired from my earlier classes.</p>
              </div>
              <!-- Add more as needed -->
            </div>

            <!-- Pagination Controls -->
            <div class="pagination-controls">
              <button onclick="changeSlide(-1, 3)">Prev</button>
              <button onclick="changeSlide(1, 3)">Next</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</section>