<!-- ==========================
        SERVICE SECTION 
        =========================== -->
<section class="features text-center section-padding" id="service">
    <div class="container">
        <!-- Headline -->
        <div class="row">
            <div class="col-md-12">
                <h1 class="arrow">I do amazing things for clients</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="services">
                    <!-- Service Box 1 -->
                    <div class="col-md-4 wp2 item">
                        <div class="icon">
                            <i class="fa fa-camera"></i><!-- Icon -->
                        </div>
                        <h2>Photographer</h2><!-- Title -->
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum
                            consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum
                            primis in faucibus.</p><!-- Description -->
                    </div>
                    <!-- Service Box 2 -->
                    <div class="col-md-4 wp2 item delay-05s">
                        <div class="icon">
                            <i class="fa fa-desktop"></i><!-- Icon -->
                        </div>
                        <h2>Web Designer</h2><!-- Title -->
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum
                            consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum
                            primis in faucibus.</p><!-- Description -->
                    </div>
                    <!-- Service Box 3 -->
                    <div class="col-md-4 wp2 item delay-1s">
                        <div class="icon">
                            <i class="fa fa-cubes"></i><!-- Icon -->
                        </div>
                        <h2>3D Artist</h2><!-- Title -->
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum
                            consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum
                            primis in faucibus.</p><!-- Description -->
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</section>