<main class="container">
  <!-- Display single post view -->
  <div *ngIf="post" class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong *ngIf="post?.category" class="d-inline-block mb-2 text-primary-emphasis">{{ post.category }}</strong>
          <h3 *ngIf="post?.title" class="mb-0">{{ post.title }}</h3>
          <div *ngIf="post?.date" class="mb-1 text-body-secondary">{{ post.date }}</div>
          <p class="card-text mb-auto">{{ post.content }}</p>
        </div>
      </div>
    </div>
  </div>
</main>
